/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        GoToWindows {
            bindings = <&Switch_Linux_Win 0 0>;
            key-positions = <38 39>;
        };

        menos_i_o {
            bindings = <&kp MINUS>;
            key-positions = <8 9>;
        };

        igual_O_P {
            bindings = <&kp EQUAL>;
            key-positions = <9 10>;
        };
    };

    behaviors {
        longpress: longpress {
            compatible = "zmk,behavior-hold-tap";
            label = "LONGPRESS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <350>;
            flavor = "tap-preferred";
        };

        dot_doubledotDP: dot_doubledotDP {
            compatible = "zmk,behavior-tap-dance";
            label = "DOT_DOUBLEDOTDP";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp LS(SLASH)>;
        };

        comma_dotcommaDP: comma_dotcommaDP {
            compatible = "zmk,behavior-tap-dance";
            label = "COMMA_DOTCOMMADP";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SLASH>;
        };

        slash_backslashDP: slash_backslashDP {
            compatible = "zmk,behavior-tap-dance";
            label = "SLASH_BACKSLASHDP";
            #binding-cells = <0>;
            bindings = <&kp RA(Q)>, <&kp RA(M)>, <&kp NON_US_BACKSLASH>;
        };

        bracket_closedDP: bracket_closedDP {
            compatible = "zmk,behavior-tap-dance";
            label = "BRACKET_CLOSEDDP";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_BRACKET>, <&kp BACKSLASH>;
        };

        cedilha_tioDP: cedilha_tioDP {
            compatible = "zmk,behavior-tap-dance";
            label = "CEDILHA_TIODP";
            #binding-cells = <0>;
            bindings = <&kp SINGLE_QUOTE>, <&kp SEMI>;
        };

        Switch_Linux_Win: Switch_Linux_Win {
            compatible = "zmk,behavior-hold-tap";
            label = "SWITCH_LINUX_WIN";
            bindings = <&to>, <&to>;

            #binding-cells = <2>;
            tapping-term-ms = <3000>;
            flavor = "tap-preferred";
        };

        quote_acentoagudoDP: quote_acentoagudoDP {
            compatible = "zmk,behavior-tap-dance";
            label = "QUOTE_ACENTOAGUDODP";
            #binding-cells = <0>;
            bindings = <&kp GRAVE>, <&kp LEFT_BRACKET>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Linux {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp ESCAPE  &longpress LG(W) Q      &longpress LG(LS(LA(W))) W  &longpress LG(LS(E)) E  &kp R                   &longpress LG(LS(LC(SPACE))) T    &longpress LG(LS(Y)) Y  &kp U             &kp I                 &longpress LS(LG(O)) O      &longpress LG(LS(P)) P  &kp BSPC
&kp TAB     &longpress LS(LG(T)) A  &longpress LG(LS(M)) S      &longpress LG(LS(D)) D  &longpress LG(LS(F)) F  &kp G                             &kp H                   &kp J             &kp K                 &longpress L LG(LA(SPACE))  &cedilha_tioDP          &kp ENTER
&kp LSHFT   &longpress LG(Z) Z      &longpress LG(LS(X)) X      &longpress LG(LS(A)) C  &longpress LG(LS(N)) V  &longpress LS(LG(B)) B            &longpress LS(LG(K)) N  &kp M             &comma_dotcommaDP     &dot_doubledotDP            &bracket_closedDP       &slash_backslashDP
                                                                &kp LEFT_ALT            &kp LEFT_GUI            &kp SPACE                         &lt 1 SPACE             &kp LEFT_CONTROL  &quote_acentoagudoDP
            >;
        };

        inux {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Topo";
            bindings = <
&longpress F1 ESCAPE  &longpress F2 NUMBER_1  &longpress F3 NUMBER_2  &longpress F4 NUMBER_3  &longpress F5 NUMBER_4  &longpress F6 N5    &longpress F7 NUMBER_6              &longpress F8 N7  &longpress F9 N8  &longpress F10 N9  &longpress F11 N0  &kp BACKSPACE
&kp TAB               &bt BT_SEL 0            &bt BT_SEL 1            &none                   &none                   &none               &longpress LG(C_MUTE) C_PLAY_PAUSE  &kp K_MUTE        &kp C_VOL_DN      &kp C_VOL_UP       &kp UP_ARROW       &kp ENTER
&kp LSHFT             &none                   &trans                  &trans                  &trans                  &trans              &kp PRINTSCREEN                     &kp HOME          &kp END           &kp LEFT_ARROW     &kp DOWN_ARROW     &kp RIGHT
                                                                      &kp LEFT_ALT            &kp LEFT_GUI            &kp SPACE           &kp SPACE                           &kp LEFT_CONTROL  &kp DEL
            >;
        };
    };
};
